@charset "UTF-8";

/* すべてのwebページに適用 */
html {
  font-family: sans-serif;
  line-height: 1.6;
  color: #000;
  border: none;
}

html * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,h2,p,ul,a,li {
  padding: 0;
  margin: 0;
}

a,li {
  text-decoration: none;
  color: #000;
  list-style: none;
}

/* ヘッダー */
header {
  background-color: #e2f1ff;
  border-bottom: 1px solid #ccc;
}

.head {
  width: 70%;
  max-width: 739px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

h1 {
  font-size: 48px;
}

/* main */
main {
  width: 98%; /* 変更：全体の幅を広げました */
  margin: 16px auto;
  display: flex;
}

/* mainの左部分 */
.left {
  width: 70%; /* 変更：左側の割合を増やしました */
}

.movie {
  overflow: hidden;
  border-radius: 8px;
  margin: 0 16px;
}

.movie iframe{
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  transform: scale(1.4);
}

.movie img {
  width: 100%;
  height: auto;
  padding: 0 16px;
}

/* 翻訳部分のスタイル */
.translation-section {
  border: 1px solid #b2b2b2;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  margin: 16px;
}

.language-tabs {
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #b2b2b2;
}

.tab-button {
  flex: 1;
  padding: 10px 0;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
}

.tab-button.active {
  background-color: #ffe1cb;
}

.translation-content {
  background-color: #fffbee;
  padding: 16px;
  height: 200px;
  overflow-y: scroll;
}

.lang-text {
  display: none;
}

.lang-text.active {
  display: block;
}

/* クイズ部分のスタイル */
.right {
  width: 30%; /* 変更：右側の割合を減らしました */
}

.quiz-section {
  padding: 16px;
  background-color: #fffbee;
  border-radius: 8px;
  margin: 16px;
}

.quiz-title {
  font-size: 24px;
  border-bottom: 2px solid #ffc9a3;
  padding-bottom: 8px;
}

.quiz-item {
  margin-top: 20px;
}

.question,
.question-sentence {
  margin-bottom: 10px;
}

.answer-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.answer-button {
  font-size: 16px;
  background-color: #ff8b5e;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.answer-button:hover {
  opacity: 0.8;
}

.answer-text {
  font-weight: bold;
  color: #ff5555;
}

.hidden {
  display: none;
}

/* フッター */
.footer {
  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 30px;
  padding: 80px 15px 20px 15px;
  font-size: 12px;
  color: #3f5170;
  background-color: #e2f1ff;
}


